* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.all{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.reg {
    position: absolute;
    top: 20px;
    right: 20px;
}

.spisok {
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: left;
    align-items: left;
    flex-direction: column; 
    margin-top: 70px;
    border-radius: 10px;
}

p {
    font-size: 2em;
    color:  #d099d6;
}

button {
    background-color:  #bc75c4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 160px;
}

button:hover {
    background-color: #560161; 
}

.zayavka, .sost_zayavka {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    margin: 10px; 
}

.zayavka {
    margin-bottom: 60px; 
}
.card{
    background-color: #d099d6;
    display: flex;
    justify-content: left;
    width: 100%;
    color: white;
    border-radius: 20px;
    text-align: center;

}
.name_item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
}
.pp{
    color:#d099d6;
}
