body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    text-align: center;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    
}
.div1{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
button{
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size:16px;
    cursor: pointer;
    background-color: #d099d6;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #560161; 
}
input{
    box-sizing: border-box;
}
