<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Изменение товара</title>
		<link
			rel="stylesheet"
			href="../static//styles/change.css"
		/>
	</head>
	<body>
		<div class="product">
			<div class="product-content">
				<label for="name">Название товара</label>
				<input
					type="text"
					id="name"
				/>

				<label for="quality">Состояние</label>
				<input
					type="text "
					id="quality"
				/>

				<label for="count">Количество</label>
				<input
					type="text"
					id="count"
				/>

				<button type="button">Сохранить изменения</button>
			</div>
		</div>
	</body>
</html>
