<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="inventory"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Inventory</title>
		<link
			rel="stylesheet"
			href="../static/styles/main.css"
		/>
	</head>
	<body>
		<h1>Добавить инвентарь</h1>
		<div class="container">
			<div class="div1">
				<form id="dobav">
					<div class="full">
						<div class="name">
							<p>Название</p>
							<input
								type="text"
								id="name_type"
								placeholder="Название"
							/>
						</div>
						<div class="count">
							<p>Количество</p>
							<input
								type="text"
								id="name_type"
								placeholder="Количество"
							/>
						</div>
						<div class="">
							<p>Поставщик</p>
							<input
								type="text"
								id="name_type"
								placeholder="Поставщик"
							/>
						</div>
						<div class="name">
							<p>Цена</p>
							<input
								type="text"
								id="name_type"
								placeholder="Цена, р"
							/>
						</div>
					</div>
				</form>
			</div>
			<button
				type="button"
				id="type_btn"
			>
				Главная страница
			</button>
		</div>
	</body>
</html>
