<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href='../static/login.css'>

</head>
<body>
    <div class="reg-container" > 
        <h2>Авторизация</h2>
        <form id="reg_form">
            
            <label> Логин </label>
            <input type="text" id="username" placeholder="Введите логин">

            <label> Пароль </label>
            <input type="text" id="password" placeholder="Введите пароль">
            <div сlass="reg_enter_container">
                
                <button type="button" id="enter_button"> Войти </button>
                <button type="button" id="reg_button"> Зарегистрироваться </button>
            </div>
            <div class="main_p">
                <button type="button" id="go__to_main"> Вернуться на главную страницу </button>
            </div>

        

        </form>



    </div>
</body>
</html>